# Multiple Linear Regression
## Building a Multiple Linear Regression Model (on Student Performance Data)

Using [this dataset from kaggle](https://www.kaggle.com/datasets/nikhil7280/student-performance-multiple-linear-regression?resource=download), I'll be attempting to build a simple machine learning model that can predict a student's performance based on how many hours they have studied, their sleep hours, the number of sample question practiced etc.

Features (inputs):
- Hours studied
- Previous scores
- Extracurricular activities
- Sleep hours
- Sample question papers practised
- Performance index

Label (output):
- Score


The dataset was originally designed to predict performance index. But I think it'd make more sense to predict the student's final score, based on the above features.
So the for the purposes of this study, I will treat 'Previous scores' as 'Final score' and will rename this in the dataset.

We'll assume performance index, is some indicator that is updated the user completes coursework, homework etc.

And so the new problem is predicting the student's final exam score, based on their performance during the rest of the year.

## Loading the data (using pandas)

In [1]:
import pandas as pd

data = pd.read_csv("datasets/student-performance.csv")
data.head()

,Hours Studied,Final Score,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

## Preprocessing

In [2]:
data['Extracurricular Activities'] = [(x == "Yes") for x in data['Extracurricular Activities']]

## Split dataset into predictors and target

In [3]:
# Inputs
predictors = data[[
    'Hours Studied',
    'Extracurricular Activities',
    'Sleep Hours',
    'Sample Question Papers Practiced',
    'Performance Index'
]]
predictors.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,True,9,1,91.0
1,4,False,4,2,65.0
2,8,True,7,2,45.0
3,5,True,5,2,36.0
4,7,False,8,5,66.0

In [4]:
# Output
target = data['Final Score']
target.head()

0    99
1    82
2    51
3    52
4    75
Name: Final Score, dtype: int64

## Split dataset into training data and test data

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.2, shuffle=True)

## Multiple Linear Regression

In [6]:
from sklearn.linear_model import LinearRegression

lf = LinearRegression()
lf.fit(X_train, y_train)
lf.score(X_test, y_test)

0.9870785412995526

## Testing the model

### Displaying predictions alongside actual final scores

In [7]:
y_pred = lf.predict(X_test)

new_df = pd.DataFrame({'Predicted': y_pred, 'Actual': y_test, 'Difference': y_test - y_pred})
new_df.head(1000)

      Predicted  Actual  Difference
1516  50.555830      50   -0.555830
2213  50.156968      47   -3.156968
7850  84.137616      84   -0.137616
2946  69.333477      69   -0.333477
6842  48.827567      47   -1.827567
...         ...     ...         ...
355   82.678595      83    0.321405
1651  44.995650      43   -1.995650
2417  60.169227      60   -0.169227
7824  87.164259      84   -3.164259
1367  66.367672      63   -3.367672

[1000 rows x 3 columns]

### Considering different methods of measuring accuracy


#### Manually using Absolute and Mean Square method

In [8]:
total_absolute_error = 0
total_squared_error = 0

for i in range(len(y_test)):
    diff = y_test.iloc[i] - y_pred[i]    
    total_absolute_error += abs(diff)
    total_squared_error += diff ** 2

mae = total_absolute_error / len(y_test)
mse = total_squared_error / len(y_test)

print(f"Mean Absolute Error (MAE): +/- {round(mae, 2)} %")
print(f"Mean Squared Error (MSE): +/- {round(mse, 2)} %")
print(f"Root Mean Squared Error (RMSE): +/- {round(mse ** 0.5, 2)} %")

Mean Absolute Error (MAE): +/- 1.57 %
Mean Squared Error (MSE): +/- 3.86 %
Root Mean Squared Error (RMSE): +/- 1.96 %

Now we'll do the same accuracy calculations using Scikit-learns inbuilt functions...

In [9]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_true=y_test, y_pred=y_pred)
mse = mean_squared_error(y_true=y_test, y_pred=y_pred)

print(f"Mean Absolute Error (MAE): +/- {round(mae, 2)} %")
print(f"Mean Squared Error (MSE): +/- {round(mse, 2)} %")
print (f"Root Mean Squared Error (RMSE): +/- {round(mse ** 0.5, 2)} %")

Mean Absolute Error (MAE): +/- 1.57 %
Mean Squared Error (MSE): +/- 3.86 %
Root Mean Squared Error (RMSE): +/- 1.96 %

As you can see this produces the same values.

### R-squared score

We can also measure the accuracy of linear regression models using R-squared scores.

R-squared = Represents the proportion of the variance in the dependent variable that is predictable from the independent variables.

In [10]:
from sklearn.metrics import r2_score

r2 = r2_score(y_true=y_test, y_pred=y_pred)

print(f"R2 Score: {r2}")

R2 Score: 0.9870785412995526

This seems to produce the same value you get from this...

In [11]:
# Return the coefficient of determination of the prediction.
lf_score = lf.score(X_test, y_test)

print("LF Score: ", lf_score)

LF Score:  0.9870785412995526

# Conclusion

There only really seems to be a strong relationship between performance index and previous scores.